@import 'variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin starry-background {
  background-color: $black;
  background-image: 
    radial-gradient($white, rgba(255,255,255,.2) 2px, transparent 4rem), 
    radial-gradient($white, rgba(255,255,255,.15) 1px, transparent 3rem), 
    radial-gradient($white, rgba(255,255,255,.1) 2px, transparent 4rem), 
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 3rem);
  background-size: 40rem 40rem, 30rem 30rem, 20rem 10rem, 10rem 10rem;
  background-position: 0 0, 1rem 5rem, 4rem 1rem, 5rem 15rem;
}