// *******************************
//            COLOURS
// *******************************

$white: #ffffff;
$black: #000000;

// *******************************
//            LAYOUT
// *******************************

$regular: 1.5rem;
$small: 1.2rem;
