@import 'variables';
@import 'mixins';

.layout-container {
    @include flex-center;
    @include starry-background;

    flex-direction: column;
    min-height: 100vh;
    padding: 3rem 2rem;

    &__header {
        color: $banana-yellow;
        letter-spacing: 3px;
    }
}