<ng-container *ngIf="isLoaded; else loading">
    <app-card-container 
        *ngFor="let cardId of cardIds; index as index; trackBy: trackByIndex"
        [dataSource]="dataSource" 
        [cardId]="cardId"
        (commonValueToCompare)="addComparableValue(index, $event)"
        cardTitle='Player {{ index }}'>
    </app-card-container>

    <div *ngIf="battleResult">
        {{ battleResult }}
    </div>
</ng-container>

<pre>
    player 0 won: {{ players[0].wins }} times
    player 1 won: {{ players[1].wins }} times
</pre>

<button (click)="getData()">(reload icon here) Play again</button>

<ng-template #loading>
    Loading...
    <!-- add loader -->
</ng-template>