<ng-container *ngIf="isLoaded; else loading">
    <swapi-single-card 
        *ngFor="let cardId of cardIds; index as index; trackBy: trackByIndex"
        [dataSource]="dataSource" 
        [cardId]="cardId"
        (commonValueToCompare)="addComparableValue(index, $event)"
        cardTitle='Player {{ index }}'>
    </swapi-single-card >

    <div *ngIf="battleResult">
        {{ battleResult }}
    </div>
</ng-container>

<pre>
    player 0 won: {{ players[0].wins }} times
    player 1 won: {{ players[1].wins }} times
</pre>

<button (click)="getData()">
    <span class="material-icons">refresh</span>
    Play again
</button>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>